apiVersion: v1
kind: ServiceAccount
metadata:
  name: order-auctioneer
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: sap-ewm:order-auctioneer
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: sap-ewm:order-auctioneer
subjects:
- namespace: {{ .Release.Namespace }}
  kind: ServiceAccount
  name: order-auctioneer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-auctioneer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-auctioneer
  template:
    metadata:
      labels:
        app: order-auctioneer
    spec:
      serviceAccountName: order-auctioneer
      containers:
      - image: {{ .Values.image }}
        name: order-auctioneer
        env:
        - name: DEPLOYED_ROBOTS
          value: "{{- range $.Values.robots }}{{ .name }},{{- end }}"
        - name: LOG_LEVEL
          value: {{ .Values.envs.log.level }}
        - name: LOG_FORMAT
          value: {{ .Values.envs.log.format }}
        ports:
        - name: webhook
          containerPort: 9876
        volumeMounts:
        - mountPath: /tls
          name: tls
        resources:
          requests:
            memory: "16Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "250m"
      volumes:
      - name: tls
        secret:
          secretName: order-auctioneer-tls
---
apiVersion: v1
kind: Service
metadata:
  name: order-auctioneer
spec:
  type: ClusterIP
  ports:
  - port: 443
    protocol: TCP
    targetPort: webhook
  selector:
    app: order-auctioneer
---
# The order-auctioneer runs admission webhooks, which need to be served via TLS.
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: order-auctioneer
spec:
  secretName: order-auctioneer-tls
  commonName: order-auctioneer.{{ .Release.Namespace }}.svc
  dnsNames:
    - order-auctioneer.{{ .Release.Namespace }}.svc
    - order-auctioneer.{{ .Release.Namespace }}.svc.cluster.local
  issuerRef:
    kind: ClusterIssuer
    name: cluster-authority
---
apiVersion: admissionregistration.k8s.io/v1beta1
kind: ValidatingWebhookConfiguration
metadata:
  name: order-auctioneer
webhooks:
- name: auctioneers.ewm.sap.com
  failurePolicy: Fail
  clientConfig:
    service:
      namespace: {{ .Release.Namespace }}
      name: order-auctioneer
      path: /auctioneer/validate
    caBundle: {{ .Values.certificate_authority.crt }}
  rules:
  - apiGroups:
    - ewm.sap.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - auctioneers