---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-bid-agent-{{ .Values.robot.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-bid-agent-{{ .Values.robot.name }}
  template:
    metadata:
      labels:
        app: order-bid-agent-{{ .Values.robot.name }}
    spec:
      containers:
      - image: {{ .Values.image }}
        name: order-bid-agent
        env:
        - name: ROBCO_ROBOT_NAME
          value: "{{ .Values.robot.name }}"
        - name: LOG_LEVEL
          value: {{ .Values.envs.log.level }}
        - name: LOG_FORMAT
          value: {{ .Values.envs.log.format }}
        resources:
          requests:
            memory: "16Mi"
            cpu: "10m"
          limits:
            memory: "256Mi"
            cpu: "250m"